/* BACKGROUND */
body {
  background-color: #3c1053;
  background-image: url("./images/portfolio_background.png");
  background-size: 40%;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* GLOBAL FONT SETTINGS */
h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #e10098;
  font-style: italic;
  text-align: center;
}

h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #4ac9e3;
  text-align: center;
  border-bottom: 2px dotted #f4af23;
}

h3 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #d7a9e3;
  text-align: center;
}

h4 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #f4af23;
  text-align: center;
}
p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: gray
}
/* CARD STYLING */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 8px;
  box-shadow: 0 6px 10px #f4af23;
  max-width: 50%;
  width: 100%;
  overflow-y: auto;
  text-align: center;
  background-color: #fff;
}

.card-background-image {
  background-image: url("./images/cardbg2.png");
  background-size: 95%;
  background-position: center;
  height: 60px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-repeat: no-repeat;
  padding: 10px;
}

.card-content {
  padding: 10px;
  text-align: center;
  height: 200px;
  overflow-y: auto;
}

/* social icons */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons i {
  font-size: 30px;
  color: #fff;
  margin: 0 5px;
}

.social-icons i:hover {
  color: #e10098;
  font-size: 35px;
}

/* NAVIGATION */

nav {
  background-color: #3c1053;
  padding: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web";
}

li {
  display: inline-block;
  margin-right: 20px;
  font-family: "Titillium Web";
}

a {
  color: #fff;
  font-family: "Titillium Web";
  text-decoration: none;
}

a:hover {
  border-bottom: 2px dashed #f4af23;
  text-transform: none;
}

/* HAMBURGER DROPDOWN MENU */
.hamburger {
  cursor: pointer;
  color: #fff;
  display: none;
  font-size: 24px;
}

.hamburger:hover {
  color: #f4af23;
}

/* Mobile Menu Styling */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

/* Media query for small screens (mobile) */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #3c1053;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 0;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links a {
    color: #fff;
    text-align: center;
    padding: 10px;
    display: block;
  }
  .nav-links a:hover {
    color: #f4af23;
    border-bottom: none;
  }

  .nav-links.active {
    display: flex;
  }
}


/* link to go up to top */
.home-icon {
  font-size: 50px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.home-icon:hover {
  color: #f4af23;
}

/* smooth scroll */
html {
  scroll-behavior: smooth;
}

/* portfolio FA icon */
.portfolio-icon {
  color: #E10098;
  size: 20px;
}

/* portfolio area */
.portfolio-link {
  color: #F4AF23; /* Customize the color for the project links */
  text-decoration: none; /* Add underline for the links */
}

.portfolio-link:hover {
  color: #e10098; /* Customize the link color on hover */
}

.email-icon {
  color: #4ac9e3;
  text-decoration: none;
  size: 30px;
}

